.slider-block {
	width: 100%;
	height: 100%;
	padding: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media ($tablet){
		padding-bottom: 61px;
		padding-top: 61px;
	}
	@media ($mobile) {
		padding: 48px;
	}
	
	&__item {
		text-align: center;
		img {
		width: auto;
		margin: 0 auto;
		}
		video,
		iframe {
			max-width: 100%;
		}
	}
	&--full {
		padding: 0;
		video,
		iframe,
		img {
			width: 100%;
			height: 100%;
			max-width: auto;
			object-fit:cover;
		}
		.slick-list,
		.slick-track {
			height: 100%;
		}
		.slick-dots {
			@media ($tablet){
				bottom: 100px;
			}
		}
		@media ($mobile) {
			padding: 0;
		}
	}
}
.slick-dots {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 0;
	position: absolute;
	bottom: 52px;
	width: 100%;
	left: 0;
	@media ($tablet){
		bottom: 0px;
	}
	li {
		//margin-right: 12px;
		display: inline-block;
		width: 16px;
		height: 16px;
		font-size: 0;		
		button{
			position: relative;
			width: 16px;
			height: 16px;
			border: none;
			font-size: 0;
			background: transparent;
			cursor: pointer;
			&:before {
				position: absolute;
				content: " ";
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				margin: auto;
				background-color: #fff;
				border-radius: 50%;
				width: 6px;
				height: 6px;
				padding: 0;
				font-size: 0;
				border: 0;
				cursor: pointer;
				&:focus,
				&:active {
					outline: none;
				}
			}
			
		}
		&.slick-active {
			width: 16px;
			height: 16px;
			button {
				width: 16px;
				height: 16px;
				&:before {
					width: 10px;
					height: 10px;
				}
			}
		}	
	}
}
.slick-track {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: move; /* fallback: no `url()` support or images disabled */
  cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
  cursor:    -moz-grab; /* Firefox 1.5-26 */
  cursor:         grab;
  &:active {
  	cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
  }
}

  /* the slides */
  .slick-slide {
    margin: 0 25px;
  }
  /* the parent */
  .slick-list {
    margin: 0 -25px;
  }
