.slider-block {
	width: 100%;
	height: 100%;
	padding: 8%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	@media ($tablet){
		padding-bottom: 61px;
		padding-top: 61px;
	}
	@media ($mobile) {
		padding: 48px;
	}
	
	&__item {
		text-align: center;
		img {
		width: auto;
		margin: 0 auto;
		}
		video,
		iframe {
			max-width: 100%;
		}
	}
	&--full {
		padding: 0;
		video,
		iframe,
		img {
			width: 100%;
			height: 100%;
			max-width: auto;
			object-fit:cover;
		}
		.slick-list,
		.slick-track {
			height: 100%;
		}
		.slick-dots {
			@media ($tablet){
				bottom: 100px;
			}
		}
	}
}
.slick-dots {
	padding: 0;
	list-style: none;
	text-align: center;
	font-size: 0;
	position: absolute;
	bottom: 52px;
	width: 100%;
	left: 0;
	@media ($tablet){
		bottom: 0px;
	}
	li {
		margin-right: 12px;
		display: inline-block;
		width: 10px;
		height: 10px;
		font-size: 0;
		
		button{
			background-color: #fff;
			border-radius: 50%;
			width: 6px;
			height: 6px;
			padding: 0;
			font-size: 0;
			border: 0;
			cursor: pointer;
		}
		&.slick-active {
			width: 10px;
			height: 10px;
			button {
				width: 10px;
				height: 10px;
			}
		}	
	}
}
.slick-track {
	display: flex;
	justify-content: center;
	align-items: center;
}
