.video-block {
	padding: 8%;
	width: 100%;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items: center;

	@media ($mobile) {
		padding: 48px;
	}
	video,
	iframe {
		max-width: 100%;
	}

}