*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-size: 62.5%;
}

body {
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    background-color: #000;
    color: white;
}

address {
    font-style: normal;
}

img {
    height: auto;
    max-width: 100%;
}

label {
    cursor: pointer;
    user-select: none;
}

textarea {
    resize: vertical;
}

@include placeholder {
    text-overflow: ellipsis;
}

input[placeholder] {
    text-overflow:ellipsis;
}

input::-moz-placeholder {
    text-overflow:ellipsis;
} 

input:-moz-placeholder {
    text-overflow:ellipsis;
} 

input:-ms-input-placeholder {
    text-overflow:ellipsis;
}

:focus::-webkit-input-placeholder {
    color: transparent
}

:focus::-moz-placeholder {
    color: transparent
}

:focus:-moz-placeholder {
    color: transparent
}

:focus:-ms-input-placeholder {
    color: transparent
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    iframe,
    object,
    embed {
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
    }
}