$container-width: 1170px;

/* COLORS */

$color-black: #000;
$color-white: #fff;

/* MEDIA QUERIES */

$tablet-width: 1024px;
$mobile-width: 768px;

/* MEDIA QUERIES */


$mobile-min: unquote("max-width: 479px");
$mobile: unquote("max-width: 768px");
$tablet: unquote("max-width: 1024px");
$desktop-min: unquote("max-width: 1280px");
$desktop-mid: unquote("max-width: 1440px");
$desktop-lg: unquote("max-width: 1660px");
$desktop-xl: unquote("min-width: 1661px");