.header {
	display: flex;
	justify-content: space-between;
	position: fixed;
	z-index: 15;
	transition: transform 1s;
	&--top {
		width: 100%;
		padding-top: 43px;
		padding-left: 5%;
		padding-right: 5%;
		top: 0;
		left: 0;
		@media ($tablet) {
			padding-top: 22px;
		}
	}
	&--right {
		padding-top: 5%;	
		top: 0;
		right: 5%;
		width: 34px;
		height: 50%;
		flex-direction: column;
		.header__link--menu {
			right: 5px;
		}
		@media ($mobile) {
			width: 100%;
			top: 0;
			right: 0;
			height: 50px;
			padding-left: 5%;
			padding-right: 5%;
			flex-direction: row-reverse;
		}
	}
	&__link {
		position: relative;
		width: 34px;
		height: 34px;
		overflow: hidden;
		animation-delay: 0.3s;
		-webkit-tap-highlight-color: rgba(0,0,0,0);
		-webkit-tap-highlight-color: transparent;
		&:focus,
		&:active {
			outline: none;
		}
		.header__link-cont {
			transition: width 0.2s, height 0.2s;
			animation-delay: 1.1s;
			position: absolute;
			top: 0;
			bottom: 0;
			right: auto;
			margin: auto;
			overflow: hidden;
		}
		span,
		svg {
			position: absolute;
			transition: width 0.2s, height 0.2s;
			top: 0; left: 0; bottom: 0; right: 0;
			margin: auto;	
		}
		&--main {
			.header__link-cont{
				left: 8px;
				width: 18px;
				height: 18px;	
				span {
					left: auto;
					background-color: #0d71fc;
					border-radius: 50%;
					width: 18px;
					height: 18px;		
				}
				&.after-anim {
					left: 0;
					right: 0;
					span {
						left: 0;
					}
				}	
			}			
			&:hover {		
				.header__link-cont{
					height: 22px;
					width: 22px;
				}	
				span {
					width: 22px;
					height: 22px;
				}
			}
			&:active {
				span {
					width: 14px;
					height: 14px;
				}
			}
		}
		&--works {
			.header__link-cont{
				left: 6px;
				width: 22px;
				height: 22px;
				span{
					position: absolute;
					width: 8px;
					height: 8px;
					overflow: hidden;
					&:nth-child(1){
						top: 0;
						left: 0px;
						right: auto;
						bottom: auto;
					}
					&:nth-child(2){
						top: 0;
						right: 0;
						left: auto;
						bottom: auto;
					}	
					&:nth-child(3){
						top: auto;
						left: auto;
						right: 0;
						bottom: 0;
					}
					&:nth-child(4){
						top: auto;
						right: auto;
						left: 0;
						bottom: 0;
					}		
					i.inner {
						animation-delay: 1.1s;
						display: block;
						position: relative;
						width: 8px;
						height: 8px;
						background-color: #0d71fc;
						transition: width 0.2s, height 0.2s;
					}
				}
				
				&.after-anim {
					left: 0;
					right: 0;
				}	
			}					
			&:hover {		
				.header__link-cont{
					height: 26px;
					width: 26px;
					span {
						width: 10px;
						height: 10px;
					}
					i.inner {
						width: 10px;
						height: 10px;
					}
				}	
				
			}
			&:active {
				.header__link-cont{
					width: 18px;
					height: 18px;
					span {
						width: 7px;
						height: 7px;
					}
					i.inner {
						width: 7px;
						height: 7px;
					}
				}	
			}
		}
		&--menu {
			.header__link-cont{
				left: 6px;
				width: 26px;
				height: 15px;	
				svg {
					top: 0; 
					bottom: 0;
					right: 0;
					margin: auto;	
					left: auto;
					width: 26px;
					height: 15px;			
				}
				&.after-anim {
					transition: all 0.2s;
					right: 0;
					svg {
						left: 0;
					}
				}	
			}	
				
			&:hover {		
				.header__link-cont{
					height: 15px;
					width: 30px;
					left: 2px;
				}	
				svg {
					width: 30px;
					height: 15px;
				}
			}
			&:active {
				.header__link-cont{
					height: 15px;
					width: 22px;
					left: 10px;
				}	
				svg {
					width: 22px;
					height: 15px;
				}
			}
		}
		&--contacts {
			position: absolute;
			right: 5%;
			top: 5%;
			width: 34px;
			height: 34px;
			cursor: poiner;
			transition: transform 0.2s;
			transform: translateX(700%);
			width: 30px;
			height: 30px;
			z-index: 20;
			&.active {
				transform: translateX(0);
			}
			span {
				width: 34px;
				height: 4px;
				background-color: #0d71fc;
				&:first-child {
					transform: rotate(45deg);
				}
				&:last-child {
					transform: rotate(-45deg);
				}
			}
			@media($mobile){
				transform: none;
			}

		}
	}
	
}