<div class="contacts page-main__contacts js-contacts">
	<div class="contacts__bg-image js-contacts-bg" style="background-image: url(assets/img/contacts-bg-3.jpg);"></div>
	<a href="/cases.html" class="header__link header__link--contacts js-contacts-close">
		<span><i class="inner "></i></span>
		<span><i class="inner "></i></span>
	</a>
	<div class="contacts__content js-contacts-anim">
		<div class="contacts__name">Maks Pirogov</div>
		<div class="contacts__job">Product designer at Home Credit Bank</div>
	</div>
	<div class="contacts__bottom">
		<div class="contacts__bottom-item js-contacts-anim">
			<div class="contacts__bottom-title">Mail</div>
			<div class="contacts__bottom-text">makspirogov@gmail.com</div>
		</div>
		<div class="contacts__bottom-item js-contacts-anim">
			<div class="contacts__bottom-title">Dribbble</div>
			<div class="contacts__bottom-text">@makspirogov</div>
		</div>
		<div class="contacts__bottom-item js-contacts-anim">
			<div class="contacts__bottom-title">Insta</div>
			<div class="contacts__bottom-text">@myfuckingart</div>
		</div>
	</div>				
</div>