<header class="header header--top">
	<a href="./main.html" class="header__link header__link-main">
		
	</a>
	<a href="./cases.html" class="header__link">
		{% include '../../assets/img/icon-works.svg' %}		
	</a>
	<a href="./contacts.html" class="header__link">
    {% include '../../assets/img/icon-menu.svg' %}
	</a>
</header>