<header class="header header--top">
	<a href="/index.html" class="header__link header__link--main">
		<div class="header__link-cont width-rise-18">
			<span></span>	
		</div>		
	</a>

	<a href="/cases.html" class="header__link header__link--works  js-works-open">
		<div class="header__link-cont">
			<span><i class="inner width-rise-8"></i></span>
			<span><i class="inner width-rise-8"></i></span>
			<span><i class="inner width-rise-8"></i></span>
			<span><i class="inner width-rise-8"></i></span>
		</div>	
	</a>
	<a href="javascript:void(0);" class="header__link header__link--menu js-contacts-open">
		<div class="header__link-cont width-rise-26">
    	{% include '../../assets/img/icon-menu.svg' %}
    </div>
	</a>
</header>