{% extends 'templates/base.twig' %}

<!-- HEADER -->

  
{% block header %}
	{% include 'templates/includes/header-top.twig' %}
{% endblock %}
    <!-- /HEADER -->

{% block title %}Главная{% endblock %}


{% block page %}
  <div class="page case-single" >
  	<section class="case-single__section case-single__first-screen js-parallax-first" data-bleed="10" data-parallax="scroll" data-image-src="assets/img/bg-samsung-tab.jpg" style="background-image: url(assets/img/bg-samsung-tab.jpg);">
      <div class="case-single__half case-single__half--transparent">
    		<div class="text-block">
          <div class="text-block__content slide-in-top js-appear">
    			 <h1 class="text-block__title">Лэндинг для предзаказа Samsung Galaxy S8</h1>
          </div>
    		</div>
      </div>
      <div class="case-single__half case-single__half--transparent">
    		<div class="text-block">
          <div class="text-block__content slide-in-top js-appear">
      			<div class="text-block__text">Сделать возможным онлайн-предзаказ на рассрочку нового телефона Samsung Galaxy S8</div>
      			<div class="text-block__subtext">Проектирование, дизайн</div>
      			<div class="text-block__copyright">© Home Credit Bank, 2016</div>
          </div>		
    		</div>
      </div>
      <div class="case-single__full case-single__full--transparent">
        <div class="video-block">
          <div class="video-block__content slide-in-top">
            <iframe src="https://player.vimeo.com/video/260728769" width="640" height="438" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
          </div>
        </div>
      </div>
  	</section>
    <section class="case-single__section">
      <div class="case-single__full case-single__full--white">
        <div class="text-block">
          <div class="text-block__content slide-in-top">
           <h1 class="text-block__title">Техническое задание</h1>
           <div class="text-block__text">Визуальное решение, предложенное заказчиком, пришлось переработать, чтобы обеспечить более простой способ взаимодействия с сайтом.</div>
          </div>
        </div>
      </div>
    </section>
    <section class="case-single__section">
      <div class="case-single__full">
        <div class="image-block">
          <img class="image-block__image" width="693" height="387"
                  src="assets/img/image-block_1_1.png"
                  srcset = "assets/img/image-block_1_2.png 2x
                            "
            >
        </div>
    </section>
    </section>
    <section class="case-single__section">
      <div class="case-single__half" style="background: url('assets/img/bg_image-block1.jpg');">
        <div class="text-block">
          <div class="text-block__content slide-in-top">
            <div class="text-block__title">UI — наследие официального сайта</div>
            <div class="text-block__subtext">Чтобы поддержать атмосферу нового телефона Samsung, было решено придерживаться визуальных решений официального промо-сайта телефона</div>   
          </div>    
        </div>
      </div>
      <div class="case-single__half">
        <div class="slider-block slider">
          <div class="slider-block__item">
            <img width="149" height="149"
                src="assets/img/slider-image-1_1.png"
                srcset = "assets/img/slider-image-1_2.png 2x,
                          assets/img/slider-image-1_3.png 2x
                          "
            >
          </div>
          <div class="slider-block__item">
            <img width="693" height="387"
                src="assets/img/image-block_1_1.png"
                srcset = "assets/img/image-block_1_2.png 2x
                          "
            >
          </div>
          <div class="slider-block__item">
            <img src="http://northernsky.pw/wp-content/themes/mytheme/img/bg.jpg" width="693" height="417">
          </div>

        </div>
      </div>
    </section>
    <section class="case-single__section">
      <div class="case-single__half">
        <div class="image-block">
          <img class="image-block__image" width="274" height="162"
                src="assets/img/image-block_2_1.png"
                srcset = "assets/img/image-block_2_2.png 2x,
                          assets/img/image-block_2_3.png 3x
                          "
          >
        </div>
      </div>
      <div class="case-single__half case-single__half--white">
        <div class="text-block text-block--white">
          <div class="text-block__content slide-in-top">
            <div class="text-block__title">UX-решение</div>
            <div class="text-block__subtext">Главные УТП и кнопка оформления рассрочки всегда в поле зрения пользователя. Френдли-процесс оформления рассрочки в два клика.</div>   
          </div>    
        </div>
      </div>

    </section>

    <section class="case-single__section">
      <div class="case-single__full case-single__full--white">
        <div class="image-block">
          <img class="image-block__image" width="800" height="249"
                src="assets/img/image-block_3_1.jpg"
                srcset = "assets/img/image-block_3_2.jpg 2x,
                          assets/img/image-block_3_2.jpg 3x
                          "
          >
        </div>
      </div>
    </section>
    <section class="case-single__section">
      <div class="case-single__full">
        <div class="slider-block slider">
            <div class="slider-block__item">
              <img class="image-block__image" width="604" height="367"
                src="assets/img/image-block_4_1.jpg"
                srcset = "assets/img/image-block_4_2.jpg 2x,
                          assets/img/image-block_4_2.jpg 3x
                          "
              >
            </div>
            <div class="slider-block__item">
              <img width="693" height="387"
                  src="assets/img/image-block_1_1.png"
                  srcset = "assets/img/image-block_1_2.png 2x
                            "
              >
            </div>
            <div class="slider-block__item">
              <img class="image-block__image" width="800" height="249"
                src="assets/img/image-block_3_1.jpg"
                srcset = "assets/img/image-block_3_2.jpg 2x,
                          assets/img/image-block_3_2.jpg 3x
                          "
              >
            </div>
        </div>
      </div>

    </section>

    <a href="/case-single-blocks.html" class="case-single__bottom js-bottom" >
      <div class="case-single__bottom-bg blur" style="background-image: url(assets/img/bg-bottom.jpg);"></div>
      <div class="case-single__bottom-title">
        Личный кабинет Пользы
      </div>
      <div class="case-single__bottom-link">Следующий проект</div>

    </a>

	</div>
	
{% endblock %}