{% extends 'templates/base.twig' %}
{% block header %}{% endblock %}
{% block title %}Главная{% endblock %}

{% block page %}
	<div class="works js-works">

        <a href="#" class="header__link header__link--contacts js-works-close">
          <span><i class="inner "></i></span>
          <span><i class="inner "></i></span>
        </a>

        <a class="works__item" href="./case-single.html">
          <img class="case-item__image slide-in-top" width="131"
                src="assets/img/case-item__image1_1.jpg"
                srcset = "assets/img/case-item__image1_2.jpg 2x,
                          assets/img/case-item__image1_3.jpg 3x
                          "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
              src="assets/img/case-item__image2_1.png"
              srcset = "assets/img/case-item__image2_2.png 2x,
                        assets/img/case-item__image2_3.png 3x
                        "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
              src="assets/img/case-item__image2_1.png"
              srcset = "assets/img/case-item__image2_2.png 2x,
                        assets/img/case-item__image2_3.png 3x
                        "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
                src="assets/img/case-item__image1_1.jpg"
                srcset = "assets/img/case-item__image1_2.jpg 2x,
                          assets/img/case-item__image1_3.jpg 3x
                          "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
              src="assets/img/case-item__image2_1.png"
              srcset = "assets/img/case-item__image2_2.png 2x,
                        assets/img/case-item__image2_3.png 3x
                        "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
              src="assets/img/case-item__image2_1.png"
              srcset = "assets/img/case-item__image2_2.png 2x,
                        assets/img/case-item__image2_3.png 3x
                        "
          >
        </a>
        <a class="works__item" href="./case-single.html">
          <img class="case-item__image" width="131"
              src="assets/img/case-item__image2_1.png"
              srcset = "assets/img/case-item__image2_2.png 2x,
                        assets/img/case-item__image2_3.png 3x
                        "
          >
        </a>
      </div>
{% endblock %}