{% extends 'templates/base.twig' %}

{% block title %}Главная{% endblock %}

{% block page %}
		<div class="links">
			<ul>
				<li>
					<a href="/staff-design">single page staff.design</a>
				</li>
			</ul>
		</div>
{% endblock %}