{% extends 'templates/base.twig' %}

{% block title %}Главная{% endblock %}

{% block page %}
		<div class="preloader">
			<img
			src="assets/img/preloader.gif" width="50" height="50"
    						
    			>
		</div>
		<div class="page-main">
			{% include 'templates/includes/contacts.twig' %}		
			
			<div class="works page-main__works js-works">
				
			</div>

			<div class="page-main__slider slider-main">
				<div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img class="slide-in-top delay" width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="./case-single.html" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main slide-in-top delay">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main slide-in-top delay">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>

        <div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img class="slide-in-top" width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="./case-single.html" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main slide-in-top">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main slide-in-top">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>

        <div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img class="slide-in-top" width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="./case-single-blocks.html" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main slide-in-top">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main slide-in-top">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>				
  		</div>
		</div>
{% endblock %}