{% extends 'templates/base.twig' %}

{% block title %}Главная{% endblock %}

{% block page %}
		<div class="page-main">
			<div class="contacts page-main__contacts js-contacts">
				<div class="contacts__close js-contacts-close"></div>
				<div class="contacts__content">
					<div class="contacts__name">Maks Pirogov</div>
					<div class="contacts__job">Product designer at Home Credit Bank</div>
				</div>
				<div class="contacts__bottom">
					<div class="contacts__bottom-item">
						<div class="contacts__bottom-title">Mail</div>
						<div class="contacts__bottom-text">makspirogov@gmail.com</div>
					</div>
					<div class="contacts__bottom-item">
						<div class="contacts__bottom-title">Dribbble</div>
						<div class="contacts__bottom-text">@makspirogov</div>
					</div>
					<div class="contacts__bottom-item">
						<div class="contacts__bottom-title">Insta</div>
						<div class="contacts__bottom-text">@myfuckingart</div>
					</div>
				</div>

				
			</div>

			<div class="page-main__slider slider">
				<div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="#" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>

        <div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="#" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>

        <div class="slider-block__item">
          <picture>
          	<source media="(min-width: 1440px)", srcset="assets/img/main-slider-1_2.png" width="1670" height="984">
          	<img width="835" height="492" src="assets/img/main-slider-1_1.png">
          </picture>
          <a href="#" class="case-item case-item--main page-main__case-item">
		  			<div class="case-item__title case-item__title--main">Личный кабинет системы лояльности Банка Хоум Кредит</div>
		  			<div class="case-item__link-cont case-item__link-cont--main">
		  				<div class="case-item__link case-item__link--main">Смотреть кейс</div>
		  			</div>  	
		  		</a>
        </div>				
  		</div>
		</div>
{% endblock %}