{% extends 'templates/base.twig' %}

{% block title %}Главная{% endblock %}

{% block page %}
	<div class="page-staff">
  	<div class="page-staff__cases">

  		<a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
    			<img class="case-item__image" width="131"
    						src="/assets/img/case-item__image1_1.jpg"
    						srcset = "/assets/img/case-item__image1_2.jpg 2x,
    											/assets/img/case-item__image1_3.jpg 3x
    											"
    			>
        </span>
  			<div class="case-item__title">Дизайн-концепция HR-портала Банка Хоум Кредит</div>
  			<div class="case-item__link-cont">
  				<div class="case-item__link">PDF в Google.Docs</div>
  				<img width="25"
  						src="/assets/img/googledisk_1.png"
  						srcset = "/assets/img/googledisk_2.png 2x,
  											/assets/img/googledisk_3.png 3x"
  						class="case-item__link-image"
  				>
  			</div>  	
  		</a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image1_1.jpg"
              srcset = "/assets/img/case-item__image1_2.jpg 2x,
                        /assets/img/case-item__image1_3.jpg 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>    
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Дизайн-концепция HR-портала Банка Хоум Кредит</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>
      <a href="#" class="case-item case-item--fav page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="54" height="52"
              src="/assets/img/star.svg" >
        </span>
        <div class="case-item__title">Портфолио избранных кейсов</div>          
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>

      <a href="#" class="case-item page-staff__case-item">
        <span class="case-item__image-cont">
          <img class="case-item__image" width="131"
              src="/assets/img/case-item__image2_1.png"
              srcset = "/assets/img/case-item__image2_2.png 2x,
                        /assets/img/case-item__image2_3.png 3x
                        "
          >
        </span>
        <div class="case-item__title">Лэндинг для Samsung</div>
        <div class="case-item__link-cont">
          <div class="case-item__link">PDF в Google.Docs</div>
          <img width="25"
              src="/assets/img/googledisk_1.png"
              srcset = "/assets/img/googledisk_2.png 2x,
                        /assets/img/googledisk_3.png 3x"
              class="case-item__link-image"
          >
        </div>          
      </a>

  	</div>
  </div>
{% endblock %}